@import "_variables.scss";
@import "_mixins.scss";


.footer {
  background: #000000;

  &__title {
    text-align: center;
    padding-top: 38px;
    @include roboto(700, 14px, 22px);
    color: #FEFEFE;
  }

  &__description {
    text-align: center;
    max-width: 303px;
    margin: 0 auto;
    @include roboto(400, 12px, 20px);
    color: #B9B9B9;
    padding-top: 8px;
    padding-bottom: 26px;
    @media (min-width: $tablet-V) {
      max-width: 684px;
      padding-top: 22px;
      padding-bottom: 37px;
    }
  }

  &__description-desktop {
    display: none;
    @media (min-width: $tablet-V) {
      display: block;
    }
  }

  &__contact {
    @include roboto(400, 14px, 24px);
    color: #B9B9B9;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 47px;
    @media (min-width: $tablet-V) {
      padding-top: 34px;
      padding-bottom: 56px;

      max-width: 613px;
    }
  }

  &__contact-link {
    text-decoration: none;
    color: #B9B9B9;
  }
}

.icon-link {
  display: flex;
  justify-content: center;
  gap: 6px;

}
