@import "_variables.scss";
@import "_mixins.scss";

.header {
  padding: 0 20px;
}


.header-nav {
  display: none;
  @include roboto(400, 11px, 20px);
  align-items: center;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #4E4E4E;
  @media (min-width: $tablet-V) {
    display: flex;
    justify-content: center;
    gap: 34px;
    margin: 41px 43px;
  }
  @media (min-width: $tablet-H) {
    margin: 45px 51px;
    gap: 68px;
  }

  &__link {
    text-decoration: none;
    color: #4E4E4E;
  }

  &__link:hover {
    color: #57A4A4;
  }
}


.header-mobile {
  float: right;
  position: relative;
  display: inline-block;

  &__nav {
    display: none;
    width: 182px;
    position: absolute;
    top: 60px;
    background-color: #F5F5F5;
    right: 0;
    z-index: 1;
  }

  &__link {
    color: #4E4E4E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  &__link:hover {
    color: #57A4A4;
  }

  &__link:active {
    background-color: #E5E5E5;
  }
}

.toggle-button {
  background-color: #000000;
  color: white;
  margin: 23px 0;
  width: 44px;
  height: 37px;
  border: none;
  cursor: pointer;
  @media (min-width: $tablet-V) {
    display: none;
  }

  &__bar {
    width: 17px;
    height: 2px;
    background: white;
    display: block;
    margin: 0.2rem 0.5rem;
  }

  &__content {
    display: inline-block;

  }
}

.show {
  display: block;
}


.hero {
  max-width: $tablet-H;
  margin: 0 auto;

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;

    @media (min-width: $tablet-H) {
      max-width: 1170px;
    }
  }
}
