@import "_variables.scss";
@import "_mixins.scss";
@import "reset.scss";
@import "footer.scss";
@import "header.scss";


.main-content {
  max-width: $tablet-M;
  margin: 0 auto;
  @media (min-width: $tablet-V) {
    max-width: $tablet-V;

  }
  @media (min-width: $tablet-H) {
    max-width: $tablet-Content;

  }

  &__title {
    margin: 38px 0 23px;
    @include roboto(700, 14px, 22px);
    color: #4E4E4E;
    @media (min-width: $tablet-H) {
      margin-top: 56px;
    }
  }
}


.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $tablet-V) {
    max-width: 555px;
    row-gap: 32px;
  }
  @media (min-width: $tablet-H) {
    display: flex;
    flex-direction: row;

    max-width: $tablet-Content;
    flex-wrap: wrap;
  }
}

.posts-block:last-child {
  display: none;
  @media (min-width: $tablet-V) {
    display: flex;
  }
}

.posts-block {
  @media (min-width: $tablet-V) {
    display: flex;
  }
  @media (min-width: $tablet-H) {
    width: 50%;
  }
}

.posts-content {
  display: flex;
  flex-direction: column;
  margin-top: 11px;
  margin-bottom: 28px;
  @media (min-width: $tablet-V) {
    margin-left: 20px;
    margin-top: 0;
  }

  &__title {
    @include roboto(700, 14px, 30px);
    color: #4E4E4E;
    @media (min-width: $tablet-V) {
      font-size: 16px;
    }
  }

  &__comments {
    @include roboto(400, 11px, 20px);
    color: #7C7C7C;
    @media (min-width: $tablet-V) {
      font-size: 12px;
    }
  }

  &__description {
    display: none;
    @media (min-width: $tablet-V) {
      display: block;
      @include roboto(400, 14px, 26px);
      color: #5C5C5C;
    }
  }
}


.shots {
  @media (min-width: $tablet-V) {
    background: #f3f3f3;
  }
  margin-top: 50px;

}

.shots-title {
  margin: 0 auto;
  max-width: $tablet-M;
  @media (min-width: $tablet-V) {
    display: flex;
    padding-top: 47px;
    padding-bottom: 22px;

    justify-content: space-between;
    max-width: 768px;
  }
  @media (min-width: $tablet-H) {
    max-width: $tablet-Content;
    padding-bottom: 11px;
  }

  &__text {
    padding-bottom: 13px;
    @include roboto(700, 14px, 22px);
    color: #4E4E4E;
    @media (min-width: $tablet-H) {
      font-size: 16px;
    }
  }

  &__link {
    display: none;
    @include roboto(700, 13px, 22px);
    text-decoration: none;
    color: #4E4E4E;
    @media (min-width: $tablet-V) {
      display: flex;
    }
    @media (min-width: $tablet-H) {
      font-size: 16px;
    }
  }

}

.shots-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 50px;

  &__item {
    display: none;
    @media (min-width: $tablet-V) {
      display: inline-block;
    }
  }

  &__img {
    width: 301px;
    height: 301px;
    @media (min-width: $tablet-V) {
      width: 249px;
      height: 249px;
    }
    @media (min-width: $tablet-H) {
      width: 285px;
      height: 285px;
    }
  }
}


.shots-list__item:first-child {
  display: inline-block;
}


@media (min-width: $tablet-V) {
  .shots-list__item:last-child {
    display: none;
  }
}

@media (min-width: $tablet-H) {
  .shots-list__item:last-child {
    display: inline-block;
  }
}


.bg-Pinterest {
  width: 34px;
  height: 34px;
  background: url('../img/css_sprites.png') -64px -64px;
}

.bg-Twitter {
  width: 34px;
  height: 34px;
  background: url('../img/css_sprites.png') -10px -10px;
}

.bg-Dribbble {
  width: 34px;
  height: 34px;
  background: url('../img/css_sprites.png') -118px -64px;
}


.bg-Facebook {
  width: 34px;
  height: 34px;
  background: url('../img/css_sprites.png') -64px -10px;
}


.bg-RSS {
  width: 34px;
  height: 34px;
  background: url('../img/css_sprites.png') -10px -64px;
}

